# Temp files
*~

# NetBeans
nb-configuration.xml
# nbactions.xml

# Eclipse
.settings
.classpath
.project
.mymetadata

# IDEA
*.ipr
*.iml
*.iws
.idea/

# Maven
target/

# Gradle
.gradle/
build/
local.properties
